<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Slide Menu Bar</title>-->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css">-->
<!--</head>-->

<!--<body>-->
<!--    <div id = "personal-bar" >-->
<!--        <a >-->
<!--        <span>-->
<!--            {% if icon == "NULL" %}-->
<!--                <img src='{{ avatars.default(size='l') }}' alt="" width=100 height=100>-->
<!--            {% else %}-->
<!--                <img src='{{ icon }}' alt="" width=100 height=100>-->
<!--            {% endif %}-->
<!--        </span><br>{{user.user_name}}-->
<!--        </a>-->
<!--        <nav id = "personal-nav">-->
<!--            <li class="li-personal-nav"><a href="/html/" class="lab-personal-nav">Film library</a>-->
<!--            <li class="li-personal-nav"><a href="post.html" class="lab-personal-nav">Post</a>-->
<!--        </nav>-->
<!--    <input type="checkbox" id="check">-->
<!--    <label for="check">-->
<!--        <i class="fas fa-bars" id="btn"></i>-->
<!--        <i class="fas fa-times" id="cancel"></i>-->
<!--    </label>-->
<!--    <div class="sidebar">-->
<!--        <header>setting</header>-->
<!--        <ul>-->
<!--            <li><a href="#"><i class="fas fa-qrcode"></i>Post</a></li>-->
<!--            <li><a href="#"><i class="fas fa-link"></i>History</a></li>-->
<!--            <li><a href="#"><i class="fas fa-stream"></i>information</a></li>-->
<!--            <li><a href="#"><i class="fas fa-calendar-week"></i>Setting</a></li>-->
<!--            <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>-->
<!--            <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>-->
<!--            <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li>-->
<!--        </ul>-->
<!--    </div>-->


<!--    </div>-->
<!--    <section></section>-->
<!--    <div class="background1" style="background-image:url(../static/img/backgrounds/img.png) ;">-->
<!--    </div>-->

<!--</body>-->
<!--</html>-->