<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/style.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="//unpkg.com/vue@2/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.15.13/lib/index.js"></script>
    <script src="../static/js/jquery-1.12.1.min.js"></script>
        <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="OrcasThemes">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Registration</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
        <link rel="stylesheet" href="../static/css/screen.css">
        <link rel="stylesheet" href="../static/css/animation.css">
    <!--[if IE 7]>

    <![endif]-->
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="../static/css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="../static/css/registrationAndLogin.css">

    <!--    <link href="css/lity.css" rel="stylesheet">-->
    <script src="../static/js/jquery-1.12.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/registrationAndLogin.js"></script>
    <script src="../static/js/bootstrap-select.js"></script>
    <title>Title</title>
</head>
<body>
  <div class="col-lg-8" id="changeinfo">
    <div class="col-md-6" >
        <form action="" id="sign-up-form" method="post">
            <div class="signTitle">Change your password</div>
            <label for="password">Original Password</label>
            <div class="form-group">
                <span class="fa fa-lock login-inputicon"></span>
                <input value="" type="password"  class="input-sign" placeholder="original password" name="original password">
            </div>
            <label for="password">New Password</label>
            <div class="form-group">
                <span class="fa fa-lock login-inputicon"></span>
                <input value="" type="password" id="password" class="input-sign" placeholder="new password" name="new password">
                <p hidden class="password-warning">Password should be alphabets, numbers or "_" between 6-18 length</p>
            </div>
            <label for="passwordConfirm">New Password Confirmation</label>
            <div class="form-group">
                <span class="fa fa-lock login-inputicon"></span>
                <input value="" type="password" id="passwordConfirm" class="input-sign" placeholder="new password confirm" name="new password confirm">
                <p hidden class="password-confirm-warning">New Password Confirmation should be same as the New Password</p>
            </div>

            <div class="clearfix spacer"></div>
            <button class="btn btn-lg buttondiv" type="submit" id="sign-up-button">Confirm</button>

        </form>
    </div>

<script>

</script>
<!--      <script>-->
<!--          // var label = document.getElementById("label");-->
<!--          // var val = document.getElementById("val").innerText-->
<!--          // label.value = val-->
<!--          -->
<!--      </script>-->



  </div>


</body>
</html>