<!--this page is feedback list-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="../static/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../static/css/screen.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <!--[if IE 7]>

    <![endif]-->
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="../static/css/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link href="../static/css/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/administrator-ban-user.css">
    <script src="../static/js/jquery-1.12.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/swiper-bundle.min.js"></script>
    <script src="../static/js/administrator-ban-user.js"></script>
</head>
<body>
<div class="container ban-user-container">
    <div class="row"><a href="/" ><div class="col-md-1 home">home</div></a><a href="/administrator"><div class="col-md-1 col-md-offset-1 home">Administrator</div></a></div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 navbar-brand">User Feedback</div>

            <div class="col-md-5">

                <form action="{{ url_for('feedbackList') }}" method="post" class="form-horizontal">
                    <label for="searchBanUsers" class="col-md-4 text-center">Search Advise</label>
                    <div class="col-md-5">
                        <input type="text" name="search_result" id="searchBanUsers" class="form-control ">
                    </div>
                    <div class="col-md-2"><button class="btn btn-lg buttondiv" type="submit">Search</button></div>
                </form>
            </div>

        </div>

</div>


</div>

<!--search results-->
{% if advise_searches == "1" %}

    <div class="container" hidden>
        <div class="row">
            <div class="col-md-12 navbar-brand">Advise Result</div>
        </div>
    </div>
{% elif advise_searches == "0" %}
    <div class="container">
        <div class="clearfix spacer"></div>
        <div class="row ban-user-container">
            <div class="col-md-12 navbar-brand">No Result</div>
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="clearfix spacer"></div>
        <div class="row ban-user-container">
            <div class="col-md-12 navbar-brand ">Advise Results</div>
        </div>

        <div class="container">
        <ul >
            <div class="clearfix spacer"></div>
            {% for advise in advise_searches.items %}
            <li class="friendListItem">
                <div class="col-md-12">
                    <div class="row">
                        <p class="friendListItemName"><a href="">{{ advise.title }}&nbsp;</a></p>
                    </div>
                    <div class="row">
                        <div class="friendListItemIntro">{{ advise.text }}</div>
                    </div>
                </div>
                <div class="col-md-12 seperatorUser"></div>
                <div class="clearfix spacer"></div>
            </li>
            {% endfor %}
        </ul>

    </div>

    </div>
{% endif %}


<!--all user-->
    <div class="container">
        <div class="clearfix spacer"></div>
        <div class="row ban-user-container">
            <div class="col-md-12 navbar-brand ">Advise List</div>
        </div>
        <div class="clearfix spacer"></div>
        <ul >

            {% for a in advise.items %}
            <li class="friendListItem">
               <div class="col-md-12">
                    <div class="row">
                        <p class="friendListItemName"><a href="">UserID: {{a.user_id}}&nbsp;title: {{ a.title }}&nbsp;</a></p>
                    </div>
                    <div class="row">
                        <div class="friendListItemIntro">{{ a.text }}</div>
                    </div>
                </div>
                <div class="col-md-12 seperatorUser"></div>
                <div class="clearfix spacer"></div>
            </li>
            {% endfor %}
        </ul>

    </div>
        <!-- Pagination Links-->
<div class="clearfix spacer"></div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="pagination col-md-4 ">
        <div class="text-center">
    <a href="{{ url_for('feedbackList', page=advise.prev_num) }}"
       class="btn btn-lg btn-outline-dark
       {% if advise.page == 1 %}disabled{% endif %}" style="color: black">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in advise.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if advise.page == page_num %}
            <a href="{{ url_for('feedbackList', page=page_num) }}"
               class="btn btn-warning text-light" style="color: black">
                {{ page_num }}
            </a>
            {% else %}
            <a href="{{ url_for('feedbackList',page=page_num) }}"
               class="btn btn-outline-dark " style="color: black">
                {{ page_num }}
            </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('feedbackList',page=advise.next_num) }}"
       class="btn btn-outline-dark
       {% if advise.page == advise.pages %}disabled{% endif %}" style="color: black">
        &raquo;
    </a>
</div>
    <p class="text-center mt-3 h4">
       Showing page {{ advise.page }} of {{ advise.pages }}
    </p>
    </div>
</div>


</body>
</html>